<form method="post" action="{% url 'weekly_report_summary' weekly_report.weekly_report_id %}">
  {% csrf_token %}
  <h3>Summary page for pdf</h3>
    <div class="form-group">
        <textarea class="form-control" id="wr-summary" name="wr-summary" rows="4">{{latest_summary.text}}</textarea>
    </div>
  <button type="submit" class="btn btn-primary">Save</button>
  {% if form_data %}
    <p>Last submitted by {{ form_data.user }} at {{ form_data.timestamp }}</p>
  {% else %}
    <p></p>
  {% endif %}
</form>

{% if latest_summary %}
  <form method="post" action="{% url 'delete_weekly_report_summary' weekly_report.weekly_report_id latest_summary.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Delete</button>
  </form>
{% endif %}