{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block head %}
  {{ wizard.form.media }}
{% endblock %}

{% block content %}
  <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
  <form action="" method="post">{% csrf_token %}
    <table>
    {{ wizard.management_form }}
    {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
        management form
            {{ form }}
        {% endfor %}
    {% else %}

        {% for hidden_field in wizard.form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}

        {% for field in wizard.form.visible_fields %}
          <div class="form-group">
              {{ field.label_tag }}
              {% render_field field class="form-control" %}
          </div>
        {% endfor %}
    {% endif %}
    </table>
    {% if wizard.steps.prev %}
      <button class="btn btn-primary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
      <button class="btn btn-primary" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
    {% endif %}
      <button class="btn btn-primary" type="submit">Submit</button>
  </form>
{% endblock %}